#left-menu {
  position: fixed;
  width:400px;
  height:100%;
  box-sizing: border-box;
  padding: 20px 20px 20px 60px;
  border-right:1px solid gray;
}

#left-menu .logo a {
  color:rgb(27, 43, 59);
  transition: all .3s;
}

#left-menu .logo:hover a {
  opacity: 0.7;
}

#left-menu .my-box {
  margin-top: 40px;
}

#left-menu .my-box li a{
  display: block;
  padding:5px 15px;
}

#left-menu .my-box li:first-child a {
  padding-left:0;
}

#left-menu .my-box li:hover a {
  opacity: 0.7;
}

#left-menu .category {
  margin-top: 100px;
}

#left-menu .category ul {
  margin-top:30px;
}

#left-menu .category ul li {
  margin-bottom:10px;
}

#left-menu .category ul li:hover a{
  opacity: 0.5;
}

#left-menu .category p {
  font-size: 20px;
  font-weight: 500;
  color:rgb(82, 78, 78);
  position: relative;
}

#left-menu .category p span::after {
  content:"-";
  position: absolute;
  left:-40px;
  top:50%;
  transform: translateY(-50%);
}