.cart_table {
    border:1px solid blueviolet;
    width:500px;
    /* background-color: red; */
    margin:50px auto 0 auto;
}


.cart_table tr > *{
    border:1px solid gray;
    padding:5px 0;
}

.cart_table .quantity span {
    margin-right:10px;
}

.cart_table .quantity button{
    border:1px solid gray;
}